body{
    background-color: #9B75DB;
}

header{

}
nav{
    background-color: #8074F2;
}

img{

}

.under-construction{
    background-color: #C574F2;
}

.contact-form{

}

.input-1{

}

.input-2{

}

#image-caption{

}

#form-heading{

}